/*
  * 
  * import fonts
  * 
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700,900|Open+Sans:300,400,600,700i&subset=cyrillic');


/*
  * 
  * variables
  * 
*/

:root {
  --mainPurple: #504282;
  --mainWhite: #fff;
  --mainGreen: #0BBD20;
  --mainBlack: #212121;
  --articleBodyBg: #F5F5F5;
  --opacityLine: rgba(0, 0, 0, .5);
  --pureBlack: #000;
  --mainPlaceholder: #888888;
  --Montserrat: 'Montserrat Alternates', sans-serif;
  --OpenSans: 'Open Sans', sans-serif;
  --shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  --gutter: 20px;
  --columnsCounter: 12;
  --containerWidth: 1440px;
  --col1: calc(100% / var(--columnsCounter) * 1);
  --col2: calc(100% / var(--columnsCounter) * 2 - var(--gutter));
  --col3: calc(100% / var(--columnsCounter) * 3 - var(--gutter));
  --col4: calc(100% / var(--columnsCounter) * 4 - var(--gutter));
  --col5: calc(100% / var(--columnsCounter) * 5 - var(--gutter));
  --col6: calc(100% / var(--columnsCounter) * 6 - var(--gutter));
  --col7: calc(100% / var(--columnsCounter) * 7 - var(--gutter));
  --col8: calc(100% / var(--columnsCounter) * 8 - var(--gutter));
  --col9: calc(100% / var(--columnsCounter) * 9 - var(--gutter));
  --col10: calc(100% / var(--columnsCounter) * 10 - var(--gutter));
  --col11: calc(100% / var(--columnsCounter) * 11 - var(--gutter));
  --col12: calc(100% / var(--columnsCounter) * 12 - var(--gutter));
  --slowAnimation: .4s ease-in;
  --middleAnimation: .2s ease-in;
  --fastAnimation: .1s ease-in;

  --sectionTopGutter: 110px;
  --sectionBottomGutter: 70px;
  --sliderTitleBottomGutter: 50px;
  --ourTeamPhotoGutter: 20px;
}


/*
  * 
  * basic styles
  * 
*/

html {
  height: 100%;
  font-family: var(--OpenSans);
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

a {
  display: inline-block;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a,
button {
  outline: none;
}

input,
button {
  outline: none;
  border: none;
  cursor: pointer;
}

q::before {
  content: none;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, .5);
  font-family: var(--Montserrat);
  font-size: 1.6rem;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: var(--Montserrat);
  font-size: 1.6rem;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, .5);
  font-family: var(--Montserrat);
  font-size: 1.6rem;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, .5);
  font-family: var(--Montserrat);
  font-size: 1.6rem;
}

.container {
  max-width: var(--containerWidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  max-width: var(--containerWidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  color: var(--mainBlack);
  font-size: 2.4rem;
  font-weight: bold;
  font-family: var(--OpenSans);
}

.section-title::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 10rem;
  background: var(--mainGreen);
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}

.employee,
.tag {
  font-family: var(--Montserrat);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--mainGreen);
  font-weight: bold;
}

.tag {
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-right: 1rem;
}

.img-container {
  position: relative;
  padding-top: 60%;
  overflow: hidden;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}


/*
---------------------
                    button styles
---------------------
*/

.btn {
  font-family: var(--Montserrat);
  font-size: 1.8rem;
  padding: 0 4rem;
  height: 7.6rem;
  border-radius: 3.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: color var(--middleAnimation),
  background var(--middleAnimation),
  border-color var(--middleAnimation);
}

.btn-green {
  color: var(--mainGreen);
  background: var(--mainWhite);
  border: 2px solid var(--mainGreen);
  transition: color var(--middleAnimation), background var(--middleAnimation);
}

.btn-white {
  color: var(--mainWhite);
  background: transparent;
  border: 2px solid var(--mainWhite);
  transition: color var(--middleAnimation), border-color var(--middleAnimation),
  background var(--middleAnimation);
}

.btn-black {
  color: var(--mainBlack);
  background: transparent;
  border: 2px solid var(--mainBlack);
  transition: color var(--middleAnimation), border-color var(--middleAnimation), background var(--middleAnimation);
}

.btn-black:hover {
  color: var(--mainBlack);
}

.btn-green:hover {
  color: var(--mainWhite);
  background: var(--mainGreen);
}

.btn svg,
.btn svg path {
  margin-left: 0.4rem;
  transition: var(--middleAnimation);
}

.btn:hover svg {
  -webkit-transform: translate(6px,0);
  -moz-transform: translate(6px,0);
  -ms-transform: translate(6px,0);
  -o-transform: translate(6px,0);
  transform: translate(6px,0);
}

.btn-white,
.btn-green:hover svg,
.btn-green:hover svg path {
  fill: var(--mainWhite);
}

.btn-green svg,
.btn-green svg path {
  fill: var(--mainGreen);
}

.btn-white:hover {
  color: var(--mainGreen);
  border-color: var(--mainGreen);
}

.btn-white:hover svg,
.btn-white:hover svg path {
  fill: var(--mainGreen);
  margin-left: 0.4rem;
}


/*
################
                bread crumbs styles
################
*/

.bread-crumbs {
  display: flex;
  font-weight: 800;
  font-size: 1.6rem;
  justify-content: center;
}


/*
################
                filter btn styles
################
*/

.filter {
  position: relative;
}

.filter li {
  display: inline-block;
  font-family: var(--Montserrat);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: var(--mainBlack);
  padding: 1.2rem 1.6rem;
  border-radius: 30px;
  text-align: center;
  border: 2px solid var(--mainBlack);
  cursor: pointer;
  transition: var(--fastAnimation);
}

.filter li:hover,
.filter li.active {
  background: var(--mainBlack);
  color: white;
}

.filter li:not(:last-child) {
  margin-right: 4px;
}

@media (min-width: 1366px) {
  .filter li {
    padding: 1.6rem 2.6rem;
  }
  .filter li:not(:last-child) {
    margin-right: 10px;
  }
}


/*
################
                article body styles
################
*/

.article-body {
  position: relative;
  counter-reset: ol_count;
  background: var(--articleBodyBg);
}

.article-text h3 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2.2rem;
}

.article-text h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.6rem;
}

.article-text h6 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.7rem;
}

.article-text ul,
.article-text ol {
  margin-bottom: 5rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.article-text ul li,
.article-text ol li {
  margin-bottom: 1rem;
}

.article-text ul li::before {
  content: '•';
  color: var(--mainGreen);
  margin-right: 2rem;
  font-size: 1.6rem;
}

.article-text ol{
  list-style: none;
}

.article-text ol li::before{
  counter-increment: ol_count;
  content: counter(ol_count) '.';
  margin-right: 1rem;
  font-size: 1.6rem;
  color: var(--mainGreen);
}

.article-text p {
  margin-bottom: 2rem;
  font-size: 1.6em;
  line-height: 2.8rem;
  text-align: justify;
}

.article-text p:last-child {
  margin-bottom: 0;
}

.sbap-slider__wrapper {
  margin: 2rem auto;
}

.sbap-slide {
  position: relative;
}

.sbap-slide:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2));
}

.sbap-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sbap-slide__description {
  font-size: 1.4rem;
  line-height: 2rem;
  width: 100%;
  position: absolute;
  bottom: 2rem;
  color: var(--mainWhite);
  text-align: center;
  z-index: 1;
}

.sbap .slick-next {
  right: calc(0px - var(--col1));
}

.sbap .slick-prev {
  left: calc(0px - var(--col1));
}

.article-body .social-block {
  position: relative;
  margin-top: 10rem;
}

.article-body .social-block:before {
  content: '';
  display: block;
  width: var(--col10);
  height: 1px;
  background: #000;
  position: absolute;
  top: -6rem;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.article-widget-wrapper {
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.7rem;
  padding-top: 6.5rem;
  padding-bottom: 10rem;
  text-align: center;
}

.article-important-text,
.article-quote-text {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.article-quote-text {
  font-style: italic;
}

.article-quote-text::after {
  content: '”';
  color: var(--mainGreen);
  font-family: var(--Montserrat);
  font-size: 8rem;
  position: absolute;
  display: inline-block;
  bottom: -12rem;
  left: 46%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.article-important-text::after {
  content: '';
  display: inline-block;
  height: .7rem;
  width: 5rem;
  background: var(--mainGreen);
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
}

.article-quote-author {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 3.5rem;
}

.article-video-wrapper {
  position: relative;
  padding-top: 50%;
  margin: auto;
}

.article-video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .sbap-slider__wrapper {
    width: var(--col10);
    margin: 5rem auto;
  }
  .sbap-slide__description {
    bottom: 7rem;
  }
  .article-quote-text::after {
    font-size: 10rem;
    bottom: -14rem;
  }
  .article-video-wrapper {
    width: var(--col10);
  }
}


/*
---------------------
                    slider styles
---------------------
*/

.slick-prev:before,
.slick-next:before {
  content: url('./img/icons/arrow_icon_green.svg');
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  transform: rotate(180deg) translateY(50%);
}

.slick-next {
  transform: rotate(360deg) translateY(-50%);
}

.slick-arrow {
  height: 7.6rem;
  width: 7.6rem;
  background: transparent;
  border: 3px solid var(--mainGreen);
  border-radius: 50%;
  transition: all 0.3s;
  z-index: 1;
}

@media (max-width: 767px) {
  .slick-arrow {
    width: 3.6rem;
    height:3.6rem;
  }
  .sbap .slick-prev {
    left: calc(0px - 20px);
  }
  .sbap .slick-next {
    right: calc(0px - 20px);
  }
}

.slick-arrow:hover {
  background: var(--mainGreen);
}

.slick-arrow:hover::before {
  content: url('./img/icons/arrow_icon_white.svg');
}

.social-block {
  display: flex;
  justify-content: center;
}

.social-icon-wrapper {
  height: 4.5rem;
  width: 4.5rem;
  background: var(--pureBlack);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all var(--middleAnimation);
}

.social-icon-wrapper:not(:last-child) {
  margin-right: 1.5rem;
}

.social-icon-wrapper:hover svg {
  fill: var(--mainGreen);
}

.social-icon-wrapper svg {
  fill: var(--mainWhite);
}

.slider--title {
  margin-bottom: var(--sliderTitleBottomGutter);
}

.slider--description {
  font-size: 16px;
  line-height: 28px;
  color: var(--mainBlack);
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/*
---------------------
                    header styles
---------------------
*/



.home-banner {
  height: 100vh;
  background-color: var(--mainGreen);
  color: var(--mainWhite);
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.home-banner .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.paralax-wrapper {
  position: absolute;
  top: -25px;
  left: -25px;
  height: 110%;
  width: 110%;
  overflow: hidden;
}

.header-bg.upper {
  z-index: 1;
}

.home-banner .main-title {
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 36px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}

.home-banner .direction-list {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
}

.home-banner .direction-list li {
    margin-left: 10px;
}

.home-banner .direction-list li:not(:last-child)::after {
  content: '-';
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}


.header__top {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-top: var(--gutter);
  z-index: 111;
}

.menu-wrapper {
  height: 76px;
  width: 76px;
  border: 2px solid var(--mainWhite);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  transition: background var(--middleAnimation);
}

header.white .menu-wrapper:hover {
  background: var(--mainWhite);
}
header.dark .menu-wrapper:hover {
  background: var(--mainGreen);
}

header.dark .menu-wrapper {
  border: 2px solid var(--mainGreen)
}

.menu-icon {
  transition: color var(--middleAnimation);
}

header.white .menu-icon {
  color: var(--mainWhite);
}
header.dark .menu-icon {
  color: var(--mainGreen);
}

header.white .menu-wrapper:hover .menu-icon {
  color: var(--mainGreen);
}
header.dark .menu-wrapper:hover .menu-icon {
  color: var(--mainWhite);
}

.header__title {
  height: 35px;
  width: 70px;
}

@media (min-width: 1600px) {
  .header__title {
    margin-left: 50px;
  }
}

.header__title img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header__top--phone {
  display: flex;
  align-items: center;
}

header .company-logo {
  height: 100%;
  width: 100%;
}

header.white .company-logo {
  fill: var(--mainWhite);
}

header.dark .company-logo {
  fill: var(--mainGreen);
}

header .phone-icon {
  margin-right: 10px;
  transition: color var(--fastAnimation);
}

header.white .phone-icon {
  color: var(--mainWhite);
}

.header__top--right {
  display: flex;
  align-items: center;
}

.lang {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 12px;
  transition: color var(--fastAnimation);
}

header.white .lang {
  opacity: 0.7;
  color: var(--mainWhite);
}

header.dark .lang {
  color: var(--mainBlack);
}

header.white .lang.active,
header.white .lang:hover {
  opacity: 1;
}

header.dark .lang.active,
header.dark .lang:hover {
  color: var(--mainGreen);
}

.header__top--phone {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-right: 30px;
  transition: var(--fastAnimation);
}

header.white .header__top--phone {
  color: white;
}

header.dark .header__top--phone {
  color: var(--mainBlack);
}
header.dark .header__top--phone i {
  color: var(--mainGreen);
}

header.dark .header__top--phone:hover {
  color: var(--mainGreen);
}

.category {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}

.category::before {
  content: '#';
  position: absolute;
  left: -65px;
  opacity: .3;
  font-weight: 100;
}

.project {
  margin-top: 130px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.project .arrow-icon {
  margin-left: 30px;
}

.project-description {
  font-size: 1.3rem;
  letter-spacing: 2px;
  opacity: .3;
}

.project-description::before {
  content: '';
  display: block;
  height: 1px;
  max-width: 700px;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  font-size: 1.1rem;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: transparent;
  color: var(--mainWhite);
}

.details .mouse-icon {
  margin-top: 5px;
  opacity: .4;
}

@media (max-width: 480px) {
    .header__top--phone,
    .header__lang--wrapper {
        display: none;
    }
    .header__title {
        margin-left: 0;
    }
    .menu-wrapper {
        width: 50px;
        height: 50px;
    }
    .home-banner .main-title {
        font-size: 24px;
    }
    .direction-list {
        flex-direction: column;
        align-items: center;
    }
    .home-banner .direction-list li:not(:last-child)::after {
        display: none;
    }
}

/* 
  *
  * full menu styles
  *
*/

.full-menu {
  height: 100vh;
  width: 100%;
  color: var(--mainWhite);
  font-size: 1.8rem;
  font-weight: 500;
  overflow: hidden;
  top: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: opacity var(--slowAnimation);
}

.full-menu.on {
  opacity: 1;
  z-index: 123;
}

.full-menu.off {
  transition: opacity var(--slowAnimation);
  opacity: 0;
  z-index: -1;
}

.full-menu__list {
  display: flex;
  height: 100%;
}

.full-menu__list-item {
  background-color: var(--mainGreen);
  flex-basis: 16.666%;
  display: flex;
  transition: all var(--middleAnimation);
  position: relative;
}

.full-menu__list-item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, .2);
}

.full-menu__img {
  position: absolute;
  bottom: 0; 
  height: 200px;
  position: absolute;
  bottom: 0%;
  height: 200px;
  z-index: 1;
  opacity: 0;
  transform: translateY(100%) rotate(-20deg);
  transition: transform .5s ease-out, opacity .5s ease-out;
}

.full-menu__list-item:hover {
  background-color: var(--mainWhite);
  color: var(--mainBlack);
  flex-basis: 20.666%;
}

.full-menu__list-item:hover .full-menu__img {
  opacity: 1;
  transform: translateY(-50%) rotate(-20deg);
}

.full-menu__link {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: var(--Montserrat);
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  color: var(--mainWhite);
  border: none;
  outline: none;
  z-index: 2;
  height: 76px;
  width: 76px;
  border-radius: 50%;
  background-color: var(--mainGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  /* pointer-events: none; */
}

._v-enter {
  /* Означает начало анимации появления элемента. Этот класс добавляется перед вставкой элемента, а удаляется в следующем фрейме после вставки. */
}

._v-enter-active {
  /* Означает, что анимация появления элемента активна. Этот класс остаётся в течение всей анимации. Он добавляется перед вставкой элемента, а удаляется как только переход или анимация прекратились. Используйте его для установки длительности, задержки и плавности (easing curve) анимации появления. */
  z-index: 1;
  opacity: 1;
}

._v-enter-to {
  /* Доступно только в версиях 2.1.8+. Означает, что анимация появления элемента завершается. Класс добавляется в следующем фрейме после вставки элемента (тогда же, когда будет удалён v-enter ), удаляется после завершения перехода или анимации. */
}

._v-leave {
  /*  Означает начало анимации исчезновения элемента. Класс добавляется как только началась анимация исчезновения, а удаляется в следующем фрейме после этого. */
}

._v-leave-active {
  /* Означает, что анимация исчезновения элемента активна. Этот класс остаётся в течение всей анимации. Он добавляется как только начинается анимация исчезновения, а удаляется как только переход или анимация прекратились. Используйте его для установки длительности, задержки и плавности (easing curve) анимации исчезновения. */
  opacity: 0;
  z-index: -1;
}

._v-leave-to {
  /* Доступно только в версиях 2.1.8+. Означает, что анимация исчезновения элемента завершается. Класс добавляется в следующем фрейме после начала анимации исчезновения (тогда же, когда будет удалён v-leave), а удаляется после завершения перехода или анимации. */
}



/* 
  *
  * PARALAX STYLES 
  *
*/



/* 
  *
  * EVERYDAY STYLES
  *
*/

.everyday {
  padding-top: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.everyday-grid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 15px));
  grid-auto-rows: 34rem;
  grid-gap: 20px;
}
@media (max-width: 1024px){
  .everyday {
    padding-top: 2rem;
    background-image: none !important;
  }
  .everyday-grid {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

.everyday__slider {
  grid-column: span 2;
  grid-row: span 2;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 10rem 10rem 10rem 8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--mainWhite);
}

.everyday__slider--description {
  color: var(--mainBlack);
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-top: 5rem;
}

.everyday__counter {
  background-color: var(--mainGreen);
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.everyday__counter.coffee {
  grid-column: 2;
  grid-row: 3;
}

.everyday__counter.proffessionals {
  grid-column: 1;
  grid-row: 4;
}

.everyday__counter.days {
  grid-column: 4;
  grid-row: 5;
}

.everyday__counter--number {
  font-size: 7.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.everyday__counter--title {
  font-size: 1.6rem;
  max-width: 210px;
  text-align: center;
  letter-spacing: 2px;
}

.everyday__membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.everyday__membership.cluster {
  grid-column: 1;
  grid-row: 3;
}

.everyday__membership.bank {
  grid-column: 4;
  grid-row: 4;
}

.everyday__membership--img {
  height: 145px;
  width: 145px;
  margin-bottom: 30px;
}

.everyday__membership--title {
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--mainBlack);
}

.everyday__membership--description {
  font-size: 1.4rem;
  color: rgba(33, 33, 33, .7);
  text-align: center;
}

.everyday__ins--photo-wrapper {
  color: var(--mainWhite);
  position: relative;
}

.everyday__ins--photo-wrapper.inst-photo1 {
  grid-row: 2 / span 2;
  grid-column: 3 / span 2;
}

.everyday__ins--photo-wrapper.inst-photo2 {
  grid-row: 4 / span 2;
  grid-column: 2 / span 2;
}

@media (max-width: 1024px){
  .everyday__counter.coffee {
    grid-column: 2;
    grid-row: 5;
  }
  .everyday__counter.proffessionals {
    grid-column: 1;
    grid-row: 6;
  }
  .everyday__counter.days {
    grid-column: 2;
    grid-row: 7;
  }
  .everyday__membership.cluster {
    grid-column: 1;
    grid-row: 5;
  }
  .everyday__membership.bank {
    grid-column: 1;
    grid-row: 7;
  }
  .everyday__ins--photo-wrapper.inst-photo1 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }
  .everyday__ins--photo-wrapper.inst-photo2 {
    grid-row: 6;
    grid-column: 2;
  }
}

.everyday__ins--photo {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.everyday__social-icon {
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.everyday__social-icon,
.everyday__social-icon path {
  fill: var(--mainWhite);
  width: 36px;
  height: 36px;
}

.everyday__hashtag {
  font-size: 2.2rem;
  font-weight: bold;
  position: absolute;
  bottom: 5rem;
  left: 5rem;
}

.everyday .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.everyday .slick-dots li button:before {
  content: none;
}

.everyday .slick-dots li {
  border: 3px solid transparent;
  border-radius: 50%;
  transition: border var(--middleAnimation);
}

.everyday .slick-dots li.slick-active {
  border: 3px solid var(--mainGreen);
}

.everyday .slick-dots li.slick-active button {
  color: var(--mainGreen);
  transition: color var(--middleAnimation);
}

.everyday .slick-dots li button {
  color: var(--mainBlack);
  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--OpenSans);
  height: 5rem;
  width: 5rem;
  transition: color var(--middleAnimation);
}

.everyday .slick-dots li button:hover {
  color: var(--mainGreen);
}

.everyday .slick-dots li {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}


.everyday .slick-dots {
  display: flex !important;
  width: auto;
  bottom: 5rem;
}

@media (max-width: 767px) {
    .everyday {
        padding-top: 0;
    }
    .everyday-grid {
        padding-left: 0;
        padding-right: 0;
        grid-gap: 0;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: 30vh;
    }
    .everyday__slider {
        padding: 2rem;
    }
    .everyday__slider--description {
        margin-top: 2rem;
    }
    .everyday__ins--photo-wrapper.inst-photo1 {
        grid-row: 3 / span 2;
    }
    .everyday__membership--title {
        margin-bottom: 5px;
    }
    .everyday__membership.cluster,
    .everyday__counter.coffee {
        grid-row: 5;
    }
    .everyday__counter--number {
        font-size: 4rem;
        margin-bottom: 0;
    }
    .everyday__counter--title {
        font-size: 1.2rem;
    }
    .everyday__membership--img {
        width: 40%;
        height: initial;
        margin-bottom: 10px;
    }
    .everyday__membership--description {
        font-size: 1.2rem;
    }
    .everyday__social-icon {
        top: 1rem;
        left: 1rem;
    }
    .everyday__hashtag {
        bottom: 1rem;
        left: 1rem;
    }
}

/*
---------------------
                    employees-about STYLES
---------------------
*/



.employees-about {
  background: linear-gradient(0deg, #E8E8E8 0%, #FFFFFF 100%);
  padding-top: 15rem;
}

.employees-about--title {
  margin-bottom: 10rem;
}

.employees-about__slider--item {
  height: 70rem;
}

.employees-about__slider--img-wrapper {
  display: flex;
  justify-content: center;
}

.employees-about__slider--img {
  max-height: 100%;
  object-position: bottom;
  object-fit: contain;
}

.employees-about__slider--text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.employees-about__slider--quote {
  position: relative;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 4rem;
}

.employees-about__slider--quote::before {
  content: '”';
  color: var(--mainGreen);
  font-size: 10rem;
  font-family: var(--Montserrat);
  font-weight: bold;
  font-style: normal;
  position: absolute;
  top: -3.2rem;
}

.employees-about__slider--position {
  color: var(--mainBlack);
  font-size: 1.4rem;
}

.employees-about__slider .slick-prev:before,
.employees-about__slider .slick-next:before {
  content: url('./img/icons/arrow_icon.svg');
}

.employees-about__slider .slick-arrow {
  border: 3px solid transparent;
}

.employees-about__slider .slick-arrow:hover::before {
  content: url('./img/icons/arrow_icon_white.svg');
}


/* 
  *
  * blog-social-section STYLES
  *
*/

.blog-social-section {
  padding-top: 10rem;
}

.blog-social-section.top-indent {
  padding-top: 24rem;
}

.blog-social-section .section-title {
  margin-bottom: 12rem;
}

.blog-social-section-content {
  display: flex;
  justify-content: space-between;
}

.blog {
  padding-bottom: 12rem;
}

.instagram-news {
  width: var(--col4);
}

.instagram-news__content-item {
  margin-bottom: 2rem;
  max-height: 46rem;
}

.blog__item {
  position: relative;
  margin-bottom: 4rem;
}


.blog__item > * {
  margin-bottom: 2rem;
}

.blog__item--author-photo-wrapper {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: absolute;
  top: -2.5rem;
  left: 4rem;
  transform: translateX(-50%);
}

.blog__item-text {
  color: #000;olor: var(--mainBlack);
  font-weight: normal;
  margin-left: 0.7rem;
  font-family: var(--OpenSans);
}

.blog__item--author-name {
  display: flex;
  align-items: baseline;
}

.blog__item--article-title {
  color: var(--mainBlack);
  font-family: var(--Montserrat);
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
  transition: color var(--middleAnimation);
}

.blog__item--article-title:hover {
  color: var(--mainGreen);
}

.blog__item--article-text {
  color: var(--mainBlack);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.blog__item--info-wrapper {
  margin-bottom: 7rem;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.blog__item--article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog__item--article-quote-wrapper {
  background-color: var(--mainBlack);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 6rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-bottom: 10rem;
  color: var(--mainWhite);
  text-align: center;
}

.quote-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 3.2rem;
  margin-bottom: 1.5rem;
}

.quote-author {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, .5);
  position: relative;
}

.quote-author::after {
  content: '”';
  color: #81BC41;
  font-size: 10rem;
  font-family: var(--Montserrat);
  font-weight: bold;
  font-style: normal;
  position: absolute;
  bottom: -6.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.blog__item--date {
  font-size: 1.4rem;
  color: var(--mainBlack);
  margin-right: 1.5rem;
}

.blog__item--tags {
  display: flex;
  align-items: center;
}

.blog-icon {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.blog__item--date {
  display: flex;
  align-items: center;
}

/* Blog @media queries */

@media (max-width: 767px) {
  .employees-about {
    padding-top: 10rem;
  }
  .employees-about--title {
    margin-bottom: 0;
  }
  .blog__item > * {
    margin-bottom: 1.5rem;
  }
  .blog__item--article-title {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .blog-social-section .section-title {
    margin-bottom: 5rem;
    font-size: 1.8rem;
  }
  .blog__item--author-photo-wrapper {
    display: none;
  }
  .blog__item--date {
    margin-bottom: 1.5rem;
  }
  .employees-about__slider--text-wrapper {
      text-align: center;
  }
  .employees-about__slider--quote::before {
      font-size: 8rem;
      top: -1rem;
      left: 50%;
      -webkit-transform: translate(-50%,0);
      -moz-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
      -o-transform: translate(-50%,0);
      transform: translate(-50%,0);
  }
  .employees-about__slider--quote {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 6rem;
  }
  .employees-about__slider--img-wrapper {
      height: 500px;
      margin-top: 50px;
  }
  .blog-social-section {
      padding-top: 8rem;
  }
  .blog__item--author-name {
      font-size: 1.4rem;
  }
  .blog__item--article-quote-wrapper {
      padding-left: 3rem;
      padding-right: 3rem;
  }
  .quote-text {
      font-size: 1.6rem;
      line-height: 2.4rem;
  }

}

@media (min-width: 768px) {
  .blog__item {
    padding-left: 9rem;
  }
  .employees-about__slider--img-wrapper {
      float: left;
      width: 40%;
  }
  .employees-about__slider--text-wrapper {
      height: 100%;
      padding-left: 15px;
      float: right;
      width: 60%;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .blog-social-section-content {
    flex-direction: column;
  }
  .blog {
    margin: auto;
  }
  .instagram-news {
    display: none;
  }
}

@media (min-width: 1024px) {
  .blog {
    /*width: var(--col8);*/
  }
}

@media (min-width: 1366px) {
  .blog {
    width: var(--col7);
  }
  .employees-about__slider--text-wrapper {
      min-width: 58rem;
  }
  .blog__item--article-title {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
  .blog__item--article-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .blog__item > * {
    margin-bottom: 3rem;
  }

}


/* 
  *
  * ACTION STYLES
  *
*/

.action {
  background: var(--mainGreen);
  padding: 8rem 1rem;
  text-align: center;
}

.action__title {
  font-family: var(--Montserrat);
  color: var(--mainWhite);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.action__description {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 4rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: var(--mainWhite);
}

.action__input {
  height: 9rem;
  border-radius: 100px;
  box-shadow: var(--shadow);
  max-width: 455px;
  width: 100%;
  padding-left: 4rem;
  font-size: 1.6rem;
  font-family: var(--Montserrat);
  color: var(--mainBlack);
}

.action__form {
  display: inline-flex;
  width: 100%;
  max-width: 455px;
  position: relative;
}

.action-send-button {
  background: var(--mainGreen);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

div.wpcf7 .ajax-loader {
    position: absolute;
}
.action-send-button:before {
  content: '';
  background-image: url('./img/icons/mail_icon_white.svg');
  display: block;
  width: 30px;
  height: 30px;
}


/* 
  *
  * PRE-FOOTER STYLES 
  *
*/

.pre-footer {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  font-weight: bold;
  line-height: 22px;
  padding-bottom: 6.5rem;
  padding-top: 6.5rem;
}

.pre-footer__logo,
.pre-footer__logo path{
  fill: var(--mainWhite);
}

.pre-footer__title {
  text-align: center;
  margin-bottom: 35px;
}

.pre-footer__tag--title {
  color: rgba(255, 255, 255, .5);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.pre-footer__link {
  font-size: 1.6rem;
  letter-spacing: 2px;
  transition: 0.2s;
}

a.pre-footer__link:hover {
  color: var(--mainGreen);
}

.pre-footer__address {
  max-width: 210px;
  text-align: center;
}

.pre-footer__icon,
.pre-footer__icon path {
  fill: var(--mainGreen);
}

.main-contacts {
  grid-template-columns: auto auto auto;
}

.pre-footer__mail-wrapper,
.pre-footer__address--wrapper,
.pre-footer__phone--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
  *
  * FOOTER STYLES 
  *
*/


footer {
  position: relative;
  padding: 20px 0;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, .4);
  background-color: var(--mainBlack);
}

footer::before {
  content: '';
  display: block;
  width: 100%;
  max-width: 1400px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
  background-color: rgba(216, 216, 216, .2);
}

footer .container-grid {
  height: 100%;
  align-items: center;
}

footer .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer__copyright,
.footer__social-icon-wrapper,
.footer__link--wrapper {
  flex-basis: calc(100% / 3);
  margin: 20px 0;
}

.footer__copyright {
}

.footer__social-icon-wrapper {
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
  justify-content: flex-end;
}

.footer__link--wrapper .footer__link:not(:first-child) {
  margin-left: 45px;
}

a.footer__link {
  transition: 0.2s;
}

a.footer__link:hover {
  color: var(--mainGreen);
}

.social-icon__container {
  display: inline-block;
}

.social-icon,
.social-icon path {
  fill: var(--mainWhite);
  height: 24px;
  width: 24px;
  margin-left: 16px;
  margin-right: 16px;
  transition: fill var(--middleAnimation);
}

.social-icon:hover path {
  fill: var(--mainGreen);
}



/* 
  *
  * PAGE BLOG STYLES
  *
*/

.blog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
  font-size: 1.4rem;
  background-color: var(--mainBlack);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.blog-page .employee,
.blog-page .tag {
  color: var(--mainWhite);
}

.blog-header > * {
  margin-bottom: 4.5rem;
}

.blog-tags__wrapper {
  display: flex;
  align-items: center;
}

.blog-tags__wrapper svg{
  height: 2rem;
  width: 2rem;
  fill: var(--mainWhite);
  margin-right: 0.5rem;
}

.blog-page .tag-list {
  margin-left: 1rem;
}

.blog-title {
  font-family: var(--Montserrat);
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  max-width: 100rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.category-filter {
  background: #F5F5F5;
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-family: var(--Montserrat);
}

.category-filter__search {
  height: 7.6rem;
  display: flex;
  align-items: center;
  background: transparent;
  border-bottom: 2px solid var(--mainBlack);
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.6rem;
  font-family: var(--Montserrat);
  color: var(--mainBlack);
}

.category-filter__search--wrapper {
  position: relative;
  margin-bottom: 4rem;
}

.category-filter__search--wrapper::before {
  content: url('./img/icons/search_icon.svg');
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.category-filter__categories--list {
  color: var(--mainBlack);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.category-filter__categories--link {
  transition: color var(--middleAnimation);
}

.category-filter__categories--link.active,
.category-filter__categories--link:hover {
  color: var(--mainGreen);
}

.category-filter__categories--link:not(:last-child)::after {
  content: '\2022';
  color: var(--mainGreen);
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
}

.blog-page .blog__item {
  width: 100%;
}

.category-filter__tags-wrapper {
  font-size: 1.4rem;
  margin-left: -2.3rem;
  margin-right: -2.3em;
}

.category-filter__tags-link {
  margin-right: 2.3rem;
  margin-left: 2.3rem;
  transition: color var(--middleAnimation);
}

.category-filter__tags-link.active,
.category-filter__tags-link:hover {
  color: var(--mainGreen);
}

.blog-page .blog .employee,
.blog-page .blog .tag {
  color: var(--mainGreen);
}

.subscription-widget {
  font-family: var(--Montserrat);
  color: var(--mainWhite);
  background: var(--mainGreen);
  padding: 4.5rem 2.5rem;
  margin-left: var(--gutter);
  align-self: flex-start;
}

.subscription-widget.big {
  width: var(--col10);
  background: var(--mainGreen) url('./img/icons/subsciption_widgetBG.svg') bottom right no-repeat;
}

.subscription-widget.big > * {
  width: var(--col10);
  margin-bottom: 4rem;
}

.subscription-widget.big .subscription-widget__title {
  font-size: 4rem;
  line-height: 5rem;
}

.subscription-widget > * {
  margin-bottom: 3rem;
}

.subscription-widget__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
}

.subscription-widget__description {
  font-family: var(--OpenSans);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

@media (max-width: 767px) {
  .blog-header {
    padding-top: 12rem;
    padding-bottom: 2rem;
  }
  .blog-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .subscription-widget.big {
    width: 100%;
    padding-bottom: 10rem;
    background-blend-mode: saturation;
  }
  .subscription-widget.big > * {
    margin-bottom: 3rem;
    width: 100%;
  }
  .subscription-widget.big .subscription-widget__title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .subscription-widget__description {
    font-weight: 600;
  }
  .sbap .blog-social-section {
    padding-top: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .blog-header {
    padding-top: 20rem;
    padding-bottom: 15rem;
  }
  .subscription-widget.big {
    background-blend-mode: saturation;
  }
  .subscription-widget.big .subscription-widget__title {
    width: 100%;
  }
}

@media (min-width: 1366px) {
  .category-filter {
    padding-left: calc(9rem + 20px);
  }
  .blog-header {
    height: 100vh;
  }
  .blog-title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .blog-page .blog {
    width: var(--col8);
  }
  .subscription-widget {
    width: var(--col4);
  }
  .subscription-widget__title {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
  .subscription-widget__description {
    font-size: 1.6em;
    line-height: 2.4rem;
  }
  .subscription-widget {
    padding: 4.5rem 3.5rem;
  }
  .subscription-widget.big > * {
    width: var(--col5);
  }
}

/*
################
                separate blog article
################
*/

.sbap .header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sbap .bread-crumbs {
  margin-bottom: 4rem;
}

.sbap .bread-crumbs li a.active,
.sbap .bread-crumbs li a:hover {
  opacity: .7;
}

.sbap .bread-crumbs li a:not(.active):after {
  content: '/';
  margin: 0 6px;
}

.sbap .bread-crumbs li a.active {
  pointer-events: none;
}

.sbap .article-date-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.2rem;
  font-size: 1.4rem;
}

.sbap .article-date-wrapper svg {
  margin-right: 0.5rem;
  fill: var(--mainWhite);
  height: 1.8rem;
  width: 1.8rem;
}

.sbap .blog-tags__wrapper {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.sbap .blog-tags__wrapper .employee,
.sbap .blog-tags__wrapper .tag {
  color: var(--mainWhite);
}

.sbap .about-article {
  position: relative;
  background: var(--mainWhite);
  color: var(--mainBlack);
  box-shadow: var(--shadow);
  padding: 3rem 6rem 8rem;
  text-align: center;
  top: -150px;
  margin: 0 auto -100px;
  z-index: 1;
}

.sbap .blog__item--author-photo-wrapper {
  position: static;
  margin-left: auto;
  margin-right: auto;
  transform: none;
  margin-bottom: 1rem;
}

.sbap .blog__item--author-name {
  justify-content: center;
}

.sbap .subscription-widget {
  margin: -10rem auto 0;
  padding-left: var(--col1);
  -webkit-transform: translate(0, 15rem);
  -moz-transform: translate(0, 15rem);
  -ms-transform: translate(0, 15rem);
  -o-transform: translate(0, 15rem);
  transform: translate(0, 15rem);
}

.sbap .blog .blog__item--author-photo-wrapper {
  position: absolute;
  top: -2.5rem;
  transform: translateX(-50%);
}

.sbap .blog .blog__item--author-name {
  justify-content: flex-start;
}


.about-article__info {
  text-align: center;
  font-size: 1.4rem;
}

.about-article__metadescription {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
  text-align: justify;
  margin-top: 4.5rem;
}

.article-text {
  padding: 4rem 0;
  margin: auto;
}

.article-table {
  margin: 4rem 0;
  font-size: 16px;
}

.article-table .article-table__head {
  background: var(--mainGreen);
  font-weight: 800;
  display: flex;
  text-transform: uppercase;
  color: var(--mainWhite);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.article-table__head--item,
.article-table__body--col {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
}

.article-table__body--row {
  display: flex;
  border-bottom: 1px solid #BDBDBD;
  ;
}

@media (max-width: 767px) {
  .sbap .header {
    padding: 16rem 0 20rem;
  }
  .sbap .about-article {
    padding: 3rem 2rem 4rem;
    top: -100px;
  }
  .about-article__metadescription {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 2.5rem;
  }
  .article-text p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .article-widget-wrapper {
    padding-top: 4rem;
    padding-bottom: 8rem;
    font-size: 1.6em;
    line-height: 2.6rem;
  }
  .article-important-text, .article-quote-text {
    width: var(--col11);
  }
  .article-important-text::after {
    bottom: -4rem;
  }
}

@media (min-width: 768px) {
  .sbap .header {
    padding: 20rem 0 24rem;
  }
  .article-text {
    width: var(--col10);
  }
  .article-widget-wrapper {

  }
  .article-important-text, .article-quote-text {
    width: var(--col8);
  }
}

@media (min-width: 1024px) {
  .sbap .about-article {
    width: var(--col10);
  }
}

@media (min-width: 1366px) {
  .about-article__metadescription {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .sbap .header {
    height: 100vh;
  }
  .bread-crumbs {
    margin-bottom: 11rem;
  }
  .article-date-wrapper {
    margin-bottom: 4.2rem;
  }
  .blog-tags__wrapper {
    margin: 5rem 0 4rem;
  }
  .sbap .bread-crumbs {
    margin-bottom: 6rem;
  }
  .sbap .about-article {
    padding: 3rem 10rem 10rem;
  }
  .article-text {
    width: var(--col8);
  }
  .article-important-text, .article-quote-text {
    width: var(--col7);
  }
}



/*
---------------------
                    ABOUT US PAGE STYLES
---------------------
*/


.aup .header {
  position: relative;
  padding-top: 18rem;
}

.banner-bg {
  padding-top: 56%;
  background-position: center bottom;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.aup .header:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(255,255,255,1));
}

.aup__main-title {
  font-size: 4.4rem;
  color: var(--mainBlack);
  font-weight: bold;
  text-align: center;
  font-family: var(--Montserrat);
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.aup__main-title span {
  color: var(--mainGreen);
  margin-left: 1rem;
}

.aup-content {
  padding-top: var(--sectionTopGutter);
  padding-bottom: var(--sectionBottomGutter);
}

.short-intro {
  margin-left: auto;
  margin-right: auto;
}

.aup__slider--holder {
  overflow: hidden;
}

.aup__slider--holder .slick-list {
  overflow: initial;
}

.aup__slider {
  width: var(--col9);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.aup__slider .slider--description {
  width: var(--col6);
  margin-bottom: 120px;
}

.aup__slider--item {
  transition: 0.75s;
}

.slick-center {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.aup__slider--item:not(.slick-center) {
  opacity: 0.25;
}

.aup__slider--item.slick-center {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.aup__slider--item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent,rgba(0,0,0,0.2));
}

.aup__slider .slider-figure {
  position: relative;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.9);
}

.aup__slider .slider-figcaption {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: var(--mainWhite);
  z-index: 1;
}

.aup__slider .slick-next,
.aup__slider .slick-prev {
  right: calc(0px - var(--col1));
}

.aup__slider .slick-next {
  right: calc(0px - var(--col1));
}

.aup__slider .slick-prev {
  left: calc(0px - var(--col1));
}

.our-partners-section .section-title {
  padding-bottom: var(--sectionBottomGutter);
}

.our-partners-wrapper {
  margin-bottom: 80px;
}

.our-partners-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.our-partners__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-tem {
  padding-bottom: var(--sectionTopGutter);
}

.our-tem .section-title {
  margin-bottom: 60px;
}

.our-team__holder {
  margin: -10px;
}

.our-tem__photo-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.current-block,
.rotate-block {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.current-block {
  z-index: 1;
  opacity: 1;
  transition: opacity var(--middleAnimation);
}

.rotate-block {
  z-index: 0;
  opacity: 0;
  transition: opacity var(--middleAnimation);
}

.rotate-block {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.about-employee {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
}

.employee-name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: var(--Montserrat);
  margin-bottom: 5px;
}

.employee-position {
  opacity: .7;
  font-size: 14px;
  font-family: var(--OpenSans);
  text-align: center;
  margin-bottom: 25px;
}

.our-tem__photo-item {
  position: relative;
  width: var(--col6);
  margin: calc(var(--ourTeamPhotoGutter) / 2);
  background: var(--articleBodyBg);
  cursor: pointer;
}

.our-tem__photo-item:before {
  content: '';
  display: block;
  padding-top: 140%;
}

.our-tem__photo-item:hover .rotate-block {
  z-index: 1;
  opacity: 1;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.our-tem__photo-item:hover .current-block {
  z-index: 0;
  opacity: 0;
}

.our-tem__photo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.rotate-photo {
  object-position: center -165px;
}

.our-tem .social-block {
  margin-bottom: 20px;
}

.our-tem .social-icon-wrapper {
  background: transparent;
}

.our-tem .social-icon-wrapper:hover {
  background: rgba(255, 255, 255, .05);
}

.our-tem .social-icon-wrapper:hover svg {
  fill: var(--mainWhite);
}

.our-tem__photo-item.vacancy .vacancy-text {
  color: var(--mainBlack);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.our-tem__photo-item.vacancy .btn {
  width: 210px;
  margin: 0 auto 20px auto;
}

.our-tem__photo-item.vacancy .btn:hover {
  background: white;
}



/*
---------------------
                    PORTFOLIO PAGE
---------------------
*/

.prtfl {
  padding-bottom: 10rem;
}

.prtfl .header {
  display: flex;
  padding-top: 20rem;
  padding-bottom: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prtfl .header select,
.nice-select {
  display: none;
}

.prtfl-title {
  font-family: var(--Montserrat);
  font-size: 4rem;
  font-weight: 600;
  color: var(--mainBlack);
  margin-bottom: 5rem;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
}
.square-container a {
  display: block;
  position: relative;
  width: calc(50% - 20px);
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}
.square-container a:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.square-container a img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: var(--slowAnimation)
}
.square-container a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .prtfl {
    padding-bottom: 6rem;
  }
  .prtfl .header {
    padding-top: 16rem;
    padding-bottom: 4rem;
  }
  .prtfl-title {
    margin-bottom: 3rem;
  }
  .prtfl .header ul.filter {
    display: none;
  }
  .prtfl .header select,
  .nice-select {
    display: block;
    font-family: var(--Montserrat);
  }
  .square-container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .square-container a {
    margin: 5px;
    width: calc(50% - 10px);
  }
}

@media (min-width: 1366px) {
  .prtfl-title {
    font-size: 5rem;
  }
}

/*
---------------------
                    RESPONSIVE
---------------------
*/


@media (max-width: 1500px) {
  :root {
    --containerWidth: 1200px;
    --sectionTopGutter: 80px;
    --sectionBottomGutter: 50px;
  }
}

@media (max-width: 767px) {
  /*General*/
  .btn {
      font-size: 1.4rem;
      height: 5rem;
      padding: 0 3rem;
  }
  .section-title::after {
    display: block;
    margin-top: 15px;
    margin-left: 0;
  }
  .action {
    padding: 6rem 1rem;
  }
  .action__title {
    font-size: 3rem;
  }
  .action__input {
    height: 6rem;
    padding-left: 3rem;
  }
  .action-send-button {
    width: 4rem;
    height: 4rem;
  }
  /*Footer*/
  .main-contacts {
    grid-template-columns: auto;
  }
  .pre-footer__tag--title {
    display: none;
  }
  .pre-footer__mail-wrapper,
  .pre-footer__phone--wrapper {
    margin-bottom: 20px;
  }
  .pre-footer__link {
    font-size: 1.4rem;
  }
  .footer__link--wrapper .footer__link:not(:first-child) {
    margin-left: 20px;
  }
  .footer__copyright {
    order: 1;
  }
  /*About us page*/
  .aup__main-title {
    font-size: 3.4rem;
  }
  .aup .header {
    padding-top: 12rem;
  }
  .aup .header:after {
    display: none;
  }
  .our-tem__photo-item {
    width: var(--col12);
  }
  .our-partners-wrapper {
    margin-bottom: 50px;
  }
  .our-partners__item {
    width: 50%;
  }
  .aup__slider {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) and (orientation: landscape) {
  .our-tem__photo-item {
    width: var(--col4);
  }
}

@media (max-width: 1366px) and (orientation: portrait) {
  footer .container {
    flex-direction: column;
  }
}

@media (min-width: 1366px) {
  /* About us */
  .aup .header {
    height: 100vh;
  }
  .banner-bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .short-intro {
    width: var(--col9);
  }
  .our-team__holder {
    margin: -20px;
  }
  .our-tem__photo-item {
    width: calc(var(--col4) - var(--ourTeamPhotoGutter));
    margin: calc(var(--ourTeamPhotoGutter));
  }
}

/* Laptops only */
@media only screen and (min-width: 1366px) and (max-height: 800px) {
  .aup .header {
    height: calc(100vh * 1.2);
  }
}

@media (min-width: 1600px) {
  .aup .header {
    height: 110vh;
  }
}